<div
  class="container light-theme"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  "
>
  <mat-card class="text-center w-50 py-3">
    <mat-card-content class="py-2"
      >Page not found component works!</mat-card-content
    >
    <mat-card-actions class="justify-content-evenly py-2">
      <button mat-raised-button routerLink="/">Go to home page</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="text-center w-50 py-3">
    <mat-card-content class="py-2"
      >Page not found component works!</mat-card-content
    >
    <mat-card-actions class="justify-content-evenly py-2">
      <button mat-raised-button color="tertiary" routerLink="/">
        Go to home page
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<!--<div-->
<!--  class="container"-->
<!--  style="-->
<!--    background: lightblue;-->
<!--    display: flex;-->
<!--    justify-content: center;-->
<!--    align-items: center;-->
<!--    height: 100vh;-->
<!--  "-->
<!--&gt;-->
<!--  <mat-card class="text-center w-50 py-3">-->
<!--    <mat-card-content class="py-2"-->
<!--      >Page not found component works!</mat-card-content-->
<!--    >-->
<!--    <mat-card-actions class="justify-content-evenly py-2">-->
<!--      <button mat-raised-button color="primary" routerLink="/">-->
<!--        Go to home page-->
<!--      </button>-->
<!--    </mat-card-actions>-->
<!--  </mat-card>-->
<!--</div>-->
